@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Acme');

body {
  background-color: #A2BCDA;
}

.bottom-right {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  right: 40px;
  bottom: 40px;
  background: deepskyblue;
  z-index: 1;
}



.clicked {
  position: fixed;
  display: inline;
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  cursor: alias;
  right: 40px;
  bottom: 40px;
  background: #c4c4c4;
  z-index: 1;

  /* position: absolute; */
    top: 60%;
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}



.card {
  border: 2px solid #32557E;
  border-radius: 2px;
  margin-top: 20px;
  height: auto;
  width: 32%;
  background-color: #5B89BE;
  text-align: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.card:hover {
  border: 3px solid yellow;
  border-radius: 2em;
  margin-top: 8px;
  background-color: powderblue;
  padding: 3px;
  -webkit-filter: invert(.8);
  filter: invert(.8);

}

img {
  display: block;
  margin: 1rem auto;
  max-width: 90%;

}



h1 {
  color: 	#162537;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  /* background-image: linear-gradient(120deg, #ffccdd 0%, #a6c1ee 100%); */
}

p {
  font-family: 'Dancing', cursive;
}

button {

  -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background-color:#be815b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	color:#FFFCBD;
	font-family: 'Dancing', cursive;
	font-size:15px;
	font-weight:normal;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}

.bar {
  position: relative;
  display: inline-block;
  left: 50%;
  top: auto;
  transform: translateX(-50%);
  width: 95%;
  max-width: 344px;
  height: 48px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

input {
  font-family: 'Dancing', cursive;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 40px;
  left: 172px;
  margin: 4px 0;
  border: 0;
  border-radius: 0;
  outline: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
}
